@import "./variaveis.scss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    @include heigWid(100vh, 100%);
}
//--------MENU--------
nav{
    @include flexCenter(row, center, baseline);
    @include heigWid(100px, 100%);
    background-color: transparent;
    z-index: 2;
    position: fixed;
    img{
        margin-left: 50%;
        width: 130px;
    }
    ul{
        @include flexCenter(row, center, center);
        width: 30%;
        margin-left: 60%;
        li{
            white-space: nowrap;
            margin-left: 38px;
            a{
                @include textEdit(white, 13px, 600);
            }
        }
        li:first-child{
            margin-left: 0;
        }
        li :hover{
            color: rgb(211, 210, 210);
            text-decoration: solid;
            transform: scale(1.1);
            transition: 0.1s;
        }
    }
    a{
        color: white;
    }
}

//--------HEADER--------
header{
    background: url("../assets/header-image.png") no-repeat;
    background-size: cover;
    @include heigWid(100vh, 100%);
    @include flexCenter(column, baseline, center);
    .header-content{
        background-color: #120b0b72;
        @include heigWid(100vh, 40%);
        @include flexCenter(column, center, center);
        color: white;
        font-family: "Josefin Sans", sans-serif;
        h1{
            @include textEdit(white, 80px, 500);
            width: 50vw;
            margin-top: 10%;
            margin-left: 92%;
            margin-bottom: 2%;
        }
        p{
            font-size: 28px;
            margin-left: 55%;
            width: 35vw;
        }
        .btns-header{
            margin-top: 25%;
            margin-left: 26%;
            width: 70%;
            button{
                @include heigWid(220%, 40%);
                @include textEdit(#3C3C3C, 24px, 700);
                border: none;
                background-color: #F0C7C2;
                margin-left: 2%;
                a{
                    color: #3C3C3C;
                }
            }
            button:last-child{
                border: 3px solid #F0C7C2;
                background-color: transparent;
                a{
                    color: white;
                }
            }
        }
    }
}
//--------SOBRE-NOS--------
.sobre-nos{
    background: url("../assets/Frame\ 1\ \(2\).png") no-repeat;
    background-size: cover;
    @include heigWid(80%, 100%);
    @include flexCenter(column, center, center);
    h2{
        @include textEdit(white, 56px, 600);
        margin-bottom: 2%;
        span{
            color: #F0C7C2;
        }
    }
    .sobre-nos-content{
        @include flexCenter(row, center, center);
        @include heigWid(60%, 70%);
        @include textEdit(white, 22px, 500);
        .sobre-text{
            width: 60%;
            p{
                margin: 2.5%, 6%, 0, 0;
            }
        } 
    }
}
//--------NOS-ESCOLHER--------
.nos-escolher{
    background: url("../assets/Frame\ 1\ \(3\).png") no-repeat;
    background-size: cover;
    @include heigWid(80%, 100%);
    @include flexCenter(row, center, center);
    .video-nos-escolher{
        width: 50%;
        img{
            margin-left: 12%;
            width: 650px;
        }
    }
    .nos-escolher-content{
        width: 50%;
        @include flexCenter(column, center, center);
        margin-right: 5%;
        h2{
            @include textEdit(white, 64px, 600);
            margin-bottom: 2%;
            span{
                color: #F0C7C2;
            }
        }
    }
    .carousel-container{
        width: 60%;
        position: relative;
        overflow: hidden;
        margin: 5%, 5%, 0, 0;
        .carousel {
            display: flex;
            transition: transform 0.5s ease-in-out;
            color: white;
        }
        .carousel-item {
            min-width: 100%;
            box-sizing: border-box;
            padding: 20px;
            text-align: center;
            @include flexCenter(column, center, center);
            .icon{
              border: 3px solid #F0C7C2;
              text-align: center;
              @include flexCenter(column, center, center);
              @include heigWid(80px, 80px);
              border-radius: 50%;
              font-size: 32px;
              margin-bottom: 2%;
            }
            h3{
                color: #F0C7C2;
                font-size: 32px;
                width: 50%;
                font-family: "Josefin Sans", sans-serif;
                font-weight: 600;
                margin-bottom: 2%;
            }
            p{
                font-size: 18px;
                width: 70%;
                font-family: "Josefin Sans", sans-serif;
                font-weight: 500;
            }
        }
        .prev, .next {
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
            cursor: pointer;
            border: 3px solid #F0C7C2;
            background-color: transparent;
            @include textEdit(#F0C7C2, 18px, 900);
            @include heigWid(30px, 30px);
            border-radius: 50%;
        }
        .prev:hover, .next:hover {
            transform: scale(1.00);
            transition: 0.5s;
        }
        .prev {
            left: 5%;
        }
        .next {
            right: 5%;
        }
    }
}
//--------PROJETOS--------
.container-projetos{
    display: flex;
    @include heigWid(80vh, 100%);
    overflow: hidden;
    .interactive-div {
        flex: 1;
        background-size: cover;
        background-position: center;
        transition: flex 0.5s ease;
        position: relative;
        cursor: pointer;
        .content {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: white;
            text-shadow: 1px 1px 2px black;
            @include flexCenter(row, center, center)
        }
        img {
            @include heigWid(100px, 100px);
            opacity: 0.5;
        }
        h3{
            @include textEdit(#F0C7C2, 36px, 500);
        }
    }
    .interactive-div:hover {
        flex: 6;
    }
    .interactive-div:not(:hover) {
        flex: 1;
    }
}
//--------CONTATO--------
.contato{
    font-family: "Josefin Sans", sans-serif;
    background: url("../assets/bg-contato.png") no-repeat;
    background-size: cover;
    @include heigWid(80%, 100%);
    @include flexCenter(row, center, center);
    .map{
        @include heigWid(100%, 55%);
        iframe{
            @include heigWid(100%, 100%);
        }
    }
    .form{
        width: 50%;
        @include flexCenter(column, center, center);
        h2{
            @include textEdit(white, 42px, 500);
            padding-top: 10%;
            margin-bottom: 2%;
            span{
                color: #F0C7C2;
            }
        }
        .same-line{
            @include flexCenter(row, center, center);
            input{
                width: 285px;
            }
            input:last-child{
                margin-left: 2%;
            }
        }
        input, textarea{
            background-color: black;
            border: 1px solid white;
            @include heigWid(45px, 60%);
            margin-bottom: 3%;
            p{
                color: white;
            }
        }
        textarea{
            height: 20vh;
        }
        button{
            @include heigWid(45px, 60%);
            border: 3px solid #F0C7C2;
            background-color: transparent;
            @include textEdit(#F0C7C2, 18px, 600);
        }
    }
}
//--------FOOTER--------
footer{
    background-color: #120B0B;
    height: 5%;
    @include flexCenter(row, center, center);
    p{
        @include textEdit(white, 12px, 500);
    }
}

//Responsividade

@media (max-width: 866px) {
    nav {
        img {
            margin-left: 20px;
        }
        .menu-icon {
            display: flex;
            margin-left: 70%;
            @include textEdit(white, 32px, 600)
        }
        ul {
            display: none;
        }
    }
    header{
        .header-content{
            h1{
                font-size: 40px;
            }
        }
    }
}
@media (min-width: 866px) {
    nav {
        .menu-icon {
            display: none;

        }
    }
}
@media (max-width: 1600px) {
    nav{
        ul{
            margin-left: 55%;
        }
    }
}
@media (max-width: 1440px) {
    nav{
        ul{
            margin-left: 50%;
        }
    }
}
@media (max-width: 1200px) {
    nav{
        ul{
            margin-left: 45%;
        }
    }
}
@media (max-width: 1024px) {
    nav{
        ul{
            margin-left: 40%;
        }
    }
    header{
        .header-content{
            h1{
                font-size: 70px;
            }
            p{
                font-size: 20px;
            }
        }
        .btns-header{
            display: none;
        }
    }

    
}
